* {
    font-family: sans-serif;
}

@media (min-width:) and (max-width: 767px) {
    .container {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.brand {
    font-size: 1.5em;
    padding-top: 8px;
    float: left;
}

.btn-default {
    position: relative;
    float: right;
    top: 8px;
}

.dropdown-menu {
    position: relative;
    text-align: center;
    width: 100%;
    top: 5px;
}

.menu {
    font-size: 1.3em;
    margin-bottom: 20px;
}

.food {
    background-color: lightgrey;
}

.heading {
    font-size: 1.2em;
    padding-top: 5px;
}

.description {
    padding: 8px;
}
